# Web-UI
streamlit
streamlit_folium

# Datenhaltung
duckdb
pandas

# GPX-Verarbeitung & Geodaten
gpxpy
geopandas
pyogrio

# Geocoding & Zeitzone
geopy
timezonefinder

# Karte & Diagramme
folium
branca
plotly
